.dashboard-container {
  width: 60%;
  height: 600px;
  border: 1px solid darkgray;
  // margin: 20px 0;
  background-color: white; 
  margin: auto;
}

.dashboard-bottom-margin {
  margin: 0 0 20px 0;
}

.dashboard-header-container {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid darkgray;
}

.dashboard-header {
  text-align: center;
  margin: 0;
}

.dashboard-content {
  display: flex;
  height: 475px;
  margin: 0;
  padding: 0;
}

.dashboard-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-left-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.dashboard-mid {
  width: 10%;
  display: flex;
  align-items: center;
}

.dashboard-create-event-link {
  border-radius: 10px;
  background-color: #4abdac;
  padding: 13px;
  font-size: 24px;
  color: white;

}

.dashboard-right-container {
  overflow: scroll;
  height: 100%;
}

.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}