.event-index-picture {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}


// EVENT INDEX ITEMS

.event-index-item-container {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
}

.event-index-item-text-container {
  margin: 0 0 0 10px;
}

.event-index-picture {

}

// EVENT PAGE
.event-index-container {
  width: 45%;
  margin: auto;
  // display: flex;
  // flex-wrap: wrap;
}

// EVENT SHOW
