<% if current_user %>
  <script>
     window.currentUser = <%= render( "api/users/user.json", user: current_user).html_safe %>
  </script>
<% end %>
<div id="root" className="container-fluid">Shit done broke</div>
