.event-switch-container {
  // width: 60%;
  width: 60%;
  min-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

// EVENT SHOW
// .event-show-container {
//   width: 60%;
//   min-width: 600px;
//   margin: 20px auto;
//   background-color: white;
//   padding: 15px;
//   border: 1px solid lightgray;
//   border-radius: 5px;
// }