
.progress-bar-outer{
  height: 8px;
  // margin-top: 5px;
  border-radius: 8px;
  background-color: grey;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.04);
  // margin-right: 15%;
  margin: 10px auto;
  width: 85%;
  overflow: hidden;
}

.progress-bar-inner{
  background-color: blue;
  height: 100%;
  border-radius: 8px;
  transition: all 1.5s ease-in;
}

.app-builder-title {
  margin-left: 20%;
}

.app-builder-content-container {
  width: 60%;
  min-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}